version: "3.9"

services:
  backend:
    build: ./backend
    container_name: stroke-backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: stroke-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
